<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.AccountMapper">

    <insert id="insertChungyakAccount">
        INSERT INTO account (
            res_account,
            res_account_display,
            res_account_balance,
            res_account_start_date,
            res_account_name,
            bank_name,
            user_idx,
            is_payment
        )
        VALUES (
                   #{dto.resAccount},
                   #{dto.accountDisplay},
                   #{dto.accountBalance},
                   #{dto.accountStartDate},
                   #{dto.resAccountName},
                   #{dto.bankName},
                   #{userIdx},
                   #{isPayment}
               )
    </insert>

    <select id="findAccountsByUserIdx" resultType="org.scoula.dto.ChungyakAccountDTO">
        SELECT
            res_account AS resAccount,
            res_account_display AS accountDisplay,
            res_account_balance AS accountBalance,
            res_account_start_date AS accountStartDate,
            res_account_name AS resAccountName,
            bank_name AS bankName
        FROM account
        WHERE user_idx = #{userIdx}

    </select>

    <select id="findEarliestAccountStartDate" resultType="string">
        SELECT MIN(res_account_start_date)
        FROM account
        WHERE user_idx = #{userIdx}
    </select>

</mapper>
